* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    background-color: #f4eaf1;
    border-bottom: 1px solid #b68ae0;
}

.logo {
    color: #9B6DD6 !important;
    font-size: 2rem;
    font-weight: bold;
}

.logo:hover {
    color: #7d4cc9 !important;
}

.link {
    color: #9B6DD6 !important;
    font-size: 1.1rem;
}

.link:hover {
    color: #7d4cc9 !important;
}

.btnEntrar {
    background-color: #9B6DD6;
    color: white;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 8px;
    transition: 0.3s;
}

.btnEntrar:hover {
    background-color: #7d4cc9;
}