* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
  padding: 15px 40px;
  color: rgb(235, 194, 194);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navLinks a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #60a5fa;
}

.btnLogin {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnLogin:hover {
  background-color: #2563eb;
}